.lateral {
    padding: 0.3rem;
    background-color: hsl(240, 100%, 5%);
    color: hsl(236, 13%, 42%);;
}

.lateral > h1 {
    color: hsl(35, 77%, 62%);
}

.lateral > article {
    margin: 2rem 0;
}

.lateral > article > h3:hover {
    color:hsl(35, 77%, 62%) ;
    cursor: pointer;
}


