
.abajo > article {
    display: flex;
    padding-bottom: 3rem;
    gap: 1.5rem;
}

.abajo > article > img {
    width: 150px;
}

.divimages {
    display: grid;
}

.divimages > h3 {
    color: hsl(236, 13%, 42%);
    font-weight: bold;
    opacity: 50%;
}

.divimages h4:hover {
    color: crimson;
}

.divimages > p {
    font-size: 13px;
    color: hsl(233, 8%, 79%);
}

@media(min-width: 1024px){
    .abajo{
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        margin-top: 2rem;
    }
}