
<div class="mainimga">
  <div>
    <img class="imagen" src="../assets/images/image-web-3-desktop.jpg" alt="images">
      <div class="ponergrip">
      <div class="titu">
        <h1>The Bright Future of Web 3.0?</h1>
      </div>
      <div class="cuerpo">
        <p>We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. 
          But is it really fulfilling its promise?</p>
        <button>Read more</button>
      </div>
    </div>
  </div>
  <div class="lateralb">
    <app-seccionlateral></app-seccionlateral>
  </div>
</div>


